{% extends 'global/base.html' %}

{% block title %}{{ model_name }} Liste{% endblock %}

{% block content %}

    <h1 style="margin-bottom: 20px">heise Data-Sheet Home ...</h1>

   <div class="d-flex">
        <!-- Seitenleiste -->
        <div class="col-md-1">

            <ul class="nav flex-column">
                {% for title, url in data_providers.items %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url %}active{% endif %}" style="color: black" href="{{url}}/list">{{title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>


{% endblock %}