{% extends 'global/base.html' %}

{% block title %}{{ model_name }} Liste{% endblock %}

{% block content %}

<form>
    <input type="hidden" id="idToDelete" name="idToDelete">
    <input type="hidden" id="urlToDelete" name="urlToDelete">
    <input type="hidden" id="nameToDelete" name="nameToDelete" value="{{ model_name }}">
</form>

<h1>{{ model_name }} Liste</h1>
<h5>Total: {{ total }}</h5>

<br>

<div id="toolbar">
  <a href="/{{base_url}}/data" class="btn btn-primary">
      Neue {{ model_name }} &nbsp; &nbsp;<i class="bi bi-plus-square"></i>
    </a>
  <div style="display: inline-block; margin-left: 30px;">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="pageSize" class="col-form-label">Page Size</label>
          </div>
          <div class="col-auto">
            <select id="pageSize" onchange="trigger_form('count', this.value);" class="form-select form-control" aria-label="">
              <option {% if item_count == 15 %} selected {% endif %} value="15">15</option>
              <option {% if item_count == 25 %} selected {% endif %} value="25">25</option>
              <option {% if item_count == 50 %} selected {% endif %} value="50">50</option>
              <option {% if item_count == 100 %} selected {% endif %} value="100">100</option>
            </select>

          </div>
        </div>
    </div>

  <nav style="display: inline-block; margin-left: 30px;">
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">Pages</span>
        </li>
          {% for page_idx in page_list %}

        <li class="page-item{% if page_idx == page_index %} active{% endif %}"><a class="page-link" onclick="trigger_form('page', {{page_idx}});" style="cursor: pointer">{{page_idx}}</a></li>

           {% endfor %}
        <li class="page-item disabled">
          <span class="page-link pages-details">{{page_index}} of {{page_count}}</span>
        </li>


      </ul>
    </nav>

    <div style="float: right; width: 350px;">
        <form class="d-flex" id="main_form" role="search" method="GET">
            <select class="form-select" name="search_col" id="search_col_select" onchange="enableSearch()">
              <option value="" {% if search_col == None or search_col == '' %} selected {% endif %}>{{column}}</option>
              {% for column in columns %}
              <option value="{{column}}" {% if search_col == column %} selected {% endif %}>{{column}}</option>
              {% endfor %}
            </select>

            <input class="form-control me-2" type="search" onchange="enableSearch()" onkeypress="enableSearch()" name="search_value" id="search_value_input" value="{{search_value}}" placeholder="Suche ..." aria-label="Search"/>

            <input type="hidden" name="count" id="count_input" value="{{item_count}}">

            <input type="hidden" name="page" id="page_input" value="{{page_index}}">

            <input type="hidden" name="sort_col" id="sort_col_input" value="{{sort_col}}">

            <input type="hidden" name="sort_type" id="sort_type_input" value="{{sort_type}}">

            <button class="btn btn-success" type="submit" title="Suchen" id="search_button" disabled> <i class="bi bi-funnel" style="cursor: pointer"></i></button>
            <button class="btn btn-primary" type="button" title="Suche löschen" onclick="this.form.search_value.value='';this.form.search_col.selectedIndex=0;this.form.submit();"> <i class="bi bi-x-circle" style="cursor: pointer"></i></button>
        </form>
    </div>
</div>

<table class="table data-table" id="data-table">
  <thead class="thead-dark">
    <tr>
     {% for column in columns %}
        <th scope="col">
            {% if sort_col == column %}
            <span style="display: inline-block">{{ column }}</span>
            {% endif %}
            {% if sort_col != column %}
            <span style="display: inline-block"><a onclick="trigger_form('sort_col', '{{column}}');" style="cursor: pointer;">{{ column }}</a></span>
            {% endif %}

            <span class="column-detail-part">

                {% if sort_col == column %}
                {% if sort_type == 'asc' %}
                <a onclick="trigger_form('sort_type', 'desc');" style="cursor: pointer;"><i class="bi bi-arrow-down"></i></a>
                {% endif %}
                {% if sort_type == 'desc' %}
                <a onclick="trigger_form('sort_type', 'asc');" style="cursor: pointer;"><i class="bi bi-arrow-up"></i></a>
                {% endif %}
                {% endif %}

            </span>
        </th>
      {% endfor %}
        <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      {% for col,val in item.items %}
        {% if col != '_dj_pk' %}
      <td>{{ val}}</td>
        {% endif %}
        {% if col == '_dj_pk' %}
      <td style="width: 120px;">
         <a href="/{{base_url}}/data/{{val}}" class="btn btn-sm btn-outline-primary ms-2">
             <i class="bi bi-pencil-fill"></i>
          </a>
          <button class="btn btn-sm btn-outline-danger ms-2" onclick="deleteItem('/{{base_url}}/delete', '{{val}}', '{{ model_name }}')">
              <i class="bi bi-trash"></i>

          </button>

      </td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal" id="deleteModel" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Löschen ...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="deleteModelBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeDeleteModal()">
            Abbrechen &nbsp; &nbsp;<i class="bi bi-x-square"></i>
        </button>
        <button type="button" class="btn btn-danger" onclick="doDeleteItem()">
              Löschen &nbsp; &nbsp;<i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
    function enableSearch(){
        $("#search_button").prop('disabled', true);
        if($("#search_col_select").val() != '' && $("#search_value_input").val() != ''){
            $("#search_button").prop('disabled', false);
        }

    }

    function trigger_form(item, value){
        $("#main_form #" + item + "_input").val(value);
        $("#main_form").submit();
    }
</script>

{% endblock %}