{% extends 'global/base.html' %}

{% block title %}Projektgruppen{% endblock %}

{% block styles %}
    .start-page-card{
        margin: 20px 20px;
        padding: 0;
        .card-body{
            padding: 0;
        }
    }

    .card-title {
        padding: 4px 10px ;
        background-color: #14315B;
        color: #fdfdcb;
    }
    .card-title:hover {
        color: #fed9d7;
    }


    .cards-link-container{
        padding: 5px 10px;
    }

{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h2 class="mb-4">Projektgruppe auswählen</h2>
        <div class="row">
            {% for parent, projects in menu_map.items %}
                <div class="card start-page-card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ parent }}</h5>
                    <div class="cards-link-container">
                        {% for project_name, url in projects.items %}
                        <a href="{{ url }}" class="card-link">{{ project_name }}</a>
                        {% endfor %}
                    </div>
                  </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}